[user]
	email = {{ .email }}
	name = {{ .name }}
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[init]
	defaultBranch = main

[github]
        user = {{ .username }}

[gitlab]
	user = {{ .username }}
